.post {
    border: 1px solid rgb(230, 230, 230);
    margin-bottom: 10px;
    padding: 10px;

    &-head {
        display: flex;
        justify-content: space-between;
    }

    &-body {
        margin: 10px;
    }
}
